body {
  font-family: "Roboto Mono", monospace;
  background-color: #424242;
  margin: 0;
  color: white;
  position: relative;
  min-height: 100vh;
}
/*stuff*/
/* .bannerindex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url(./img/divbackground.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80vw;
  padding-top: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 2vw;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
} */


h1, h3 {
  text-align: center;
}

.regulardiv {
  padding-top: 3rem;
  width: 80vw;
  padding-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 7rem;
}

.regulardiv a {
  color: lightblue;
  text-decoration: none;
}

.regulardiv img, video, iframe {
  width: 65vw; 
  height: auto; 
  border-radius: 0.75rem
}

#reg {
  text-align: center;
  padding-bottom: 0px;
}

.codediv {
  background-color: #353535;
  color: white;
  padding: 0.5rem;
  width: inherit;
  border-radius: 0.5rem;
}

.newbox{
  width: 80vw;
  padding-right: 10vw;
  padding-top: 1.5rem;
  padding-left: 10vw;
  list-style-type: none;
  line-height: 1.8;
  padding-bottom: 10rem;
  width: 80vw;
}

.newbox a {
  color: white;
  text-decoration: none;
}
.newbox img {
    width: 80vw; 
    height: auto; 
    border-radius: 2%
}

.news {
  width: 78vw;
  background-color: #2b2b2b;
  padding: 2%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}


/*
This is for screens larger than the min-width
*/
@media screen and (min-width: 600px) {

  body {
    font-size: larger;
  }
  .news {
    width: 75vw;
  }

  /* .regulardiv {
    width: 50vw;
    padding-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 7rem;
  } */

  .regulardiv img, video, .codediv {
    width: 50vw; 
    height: auto; 
    border-radius: 0.75rem
  }
}

/*
Yoinked from W3School
This part doesn't need to be changed
*/

ul.topnav {
  list-style-type: none;
  margin: 0px 0px 0px;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}
  
ul.topnav li {float: left;}
  
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}
  
ul.topnav li a:hover:not(.active) {background-color: #2b2b2b;}
  
ul.topnav li a.active {background-color: #739fcb;}
   
/* @media screen and (max-width: 600px) {
  ul.topnav li.right  , 
  ul.topnav li {float: none;}
} */

/* ^ Not really needed... */ 

ul#repo{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  
}

ul#repo li a {
  color: #dadea7;;
  display: block;
  text-decoration: none;
}

footer#footer {
  padding: 0;
  overflow: hidden;
  position: fixed;
  height: 7rem;
  bottom: 0;
  left: 0;
  width: 80%;
  /* background-color: #2b2b2b; */
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Roboto Mono", monospace;
  color:#739fcb;
}

footer#footer a {
  
  color: #747474;
  text-decoration: none;
}